# What are the programming languages and technologies that highest paid software developers are using ?

### Business Understanding

If you are a seasoned software developer or a newbee who just want to be a software developer, you may want to know answers to the questions like: 
What are the programming languages and technologies that highest paid software developers are using ?
What are the database technologies, web fraemworks, and other tools and libreries that highest paid software developers are using ?

To answer these questions, I used data from Stackoverflow's 2019 Annual Developer Survey. The survey data covers 88,863 reviews from 213 countries and territories.

### Data Understanding

To get started, let's read in the necessary libraries we will need to wrangle our data: pandas and numpy. If we decided to build some basic plots, matplotlib might prove useful as well.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline
from collections import defaultdict
import matplotlib.pyplot as plt

df = pd.read_csv('./survey_results_public_2019.csv')
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

Let's focus on our first question: 
What are the programming languages and technologies that highest paid software developers are using ?
To answer this question we will review the field 
LanguageWorkedWith in the dataframe. Let's look into the column more closely.

In [5]:
df.LanguageWorkedWith.value_counts()

HTML/CSS;JavaScript;PHP;SQL                                                                                    1483
C#;HTML/CSS;JavaScript;SQL                                                                                     1414
HTML/CSS;JavaScript                                                                                            1247
C#;HTML/CSS;JavaScript;SQL;TypeScript                                                                           990
Java                                                                                                            934
HTML/CSS;JavaScript;PHP                                                                                         910
Python                                                                                                          759
HTML/CSS;JavaScript;TypeScript                                                                                  703
HTML/CSS;Java;JavaScript;SQL                                                                                    671
C#                                                                                                              563
Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL                                                               511
Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL;TypeScript                                                     503
HTML/CSS;JavaScript;Python                                                                                      449
C#;SQL                                                                                                          424
HTML/CSS;Java;JavaScript                                                                                        410
HTML/CSS;Java;JavaScript;PHP;SQL                                                                                402
Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL                                                                393
Java;Kotlin                                                                                                     380
Java;SQL                                                                                                        372
C#;HTML/CSS;JavaScript                                                                                          367
C#;HTML/CSS;JavaScript;TypeScript                                                                               345
HTML/CSS;JavaScript;Python;SQL                                                                                  344
JavaScript                                                                                                      336
HTML/CSS;JavaScript;PHP;Python;SQL                                                                              329
C#;HTML/CSS;JavaScript;PHP;SQL                                                                                  322
Bash/Shell/PowerShell;Python                                                                                    313
Java;JavaScript                                                                                                 311
Objective-C;Swift                                                                                               308
Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript;SQL                                                              308
Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python;SQL                                                            307
                                                                                                               ...
Assembly;Bash/Shell/PowerShell;C;C#;Java;JavaScript;Kotlin;Python;Ruby;Rust;SQL;Swift;WebAssembly;Other(s):       1
C++;HTML/CSS;Kotlin;Python;Rust;SQL;TypeScript                                                                    1
Go;JavaScript;Kotlin;Python;Ruby;SQL                                                                              1
C;Java;Objective-C;R;Ruby;SQL;Swift                                                                               1
Bash/Shell/PowerShell;Go;Java;Python;Scala;Other(s):                                                              1
Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScript;Kotlin;Python;Ruby;Rust;SQL;TypeScript;WebAssembly              1
Bash/Shell/PowerShell;C;Go;HTML/CSS;Java;JavaScript;Kotlin                                                        1
Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScript;Objective-C;PHP;TypeScript                                       1
Bash/Shell/PowerShell;C++;C#;Java;Python;Rust                                                                     1
C++;C#;Dart;Go;HTML/CSS;Java;JavaScript;PHP;Python;Ruby;SQL;VBA                                                   1
Bash/Shell/PowerShell;C;C++;C#;HTML/CSS;Java;PHP;R;SQL                                                            1
F#;Python;R;Other(s):                                                                                             1
C;C++;C#;Java;Python;VBA                                                                                          1
Bash/Shell/PowerShell;C#;Clojure;Go;HTML/CSS;JavaScript;Python;Rust;TypeScript;WebAssembly;Other(s):              1
Bash/Shell/PowerShell;C++;C#;Dart;Go;HTML/CSS;Java;JavaScript;Python;Rust;SQL;TypeScript                          1
Bash/Shell/PowerShell;C++;Java;JavaScript;Kotlin;Python;SQL;TypeScript;Other(s):                                  1
Bash/Shell/PowerShell;C;C++;C#;HTML/CSS;Java;SQL;Other(s):                                                        1
Assembly;HTML/CSS;Python;Rust;SQL                                                                                 1
Assembly;Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScript;PHP;Python;Ruby;SQL;TypeScript;VBA                       1
Dart;HTML/CSS;Java;Kotlin;TypeScript                                                                              1
C#;Dart;HTML/CSS;Java;JavaScript;Python;SQL;Swift                                                                 1
HTML/CSS;Java;JavaScript;Python;R;Scala;SQL;TypeScript;Other(s):                                                  1
Assembly;Bash/Shell/PowerShell;C;C++;Objective-C;Other(s):                                                        1
C;C++;C#;JavaScript;PHP;Python;SQL                                                                                1
Bash/Shell/PowerShell;C;C++;Dart;Go;Java;JavaScript;Kotlin;Python;Swift                                           1
C#;PHP;VBA                                                                                                        1
Bash/Shell/PowerShell;C;JavaScript;PHP;Python                                                                     1
Bash/Shell/PowerShell;C;C#;JavaScript;TypeScript;VBA                                                              1
C#;JavaScript;Python;Rust                                                                                         1
Clojure;Go;HTML/CSS;Java;Python;TypeScript                                                                        1
Name: LanguageWorkedWith, Length: 20098, dtype: int64

In [6]:
# This isn't what I was expecting, it is grouping programming languages together 
# So one row has more than just one answer.  I write a function to clean it up. 
# Following function will create a dictionary with all programming languages and counts. 
# We can use the dictionary to get TOP languages and also do some data visualizations. 

def create_dict_from_col(schema, column):
    '''
    INPUT 
        schema - a dataframe schema name
        column - column name with ';' seperator     
    OUTPUT
        desired_lang_dict - a dictionary with list of category names and their counts
    '''
    df_new = schema[schema[column].notnull()] # Remove NaN records
    desired_lang_dict = {} # Initialize the dict
    # Populate the dict
    for row in df_new[column].to_list():
        languages = row.split(';')
        for each_lang in languages:
            if each_lang in desired_lang_dict:
                desired_lang_dict[each_lang] += 1
            else:
                desired_lang_dict[each_lang] = 1
    return desired_lang_dict

In [7]:
# This is a short utility function we can use to get TOP N categories 
def get_dict_topvals(dict, top_n,is_reverse):
    return sorted(dict.items(), key=lambda x: x[1], reverse = is_reverse)[:top_n]

In [8]:
# Using above functions we can easily get a list of all languages worked by the survey responders.
lang_list = create_dict_from_col(df,'LanguageWorkedWith').keys()  
lang_list

dict_keys(['HTML/CSS', 'Java', 'JavaScript', 'Python', 'C++', 'C', 'C#', 'SQL', 'VBA', 'R', 'Bash/Shell/PowerShell', 'Ruby', 'Rust', 'TypeScript', 'WebAssembly', 'Other(s):', 'Go', 'PHP', 'Assembly', 'Kotlin', 'Swift', 'Objective-C', 'Elixir', 'Erlang', 'Clojure', 'F#', 'Scala', 'Dart'])

In [9]:
# Let's write a function to give us average salaries of developers using those languages. 
# I've written the following generic fucntion

def get_mean_by_column_values(df,col_list,col_name,mean_col_name):
    '''
    INPUT 
        schema - a dataframe schema name
        col_list - a Python list with all category values
        col_name - category column name
        mean_col_name - column that we apply the average (should be int ot float)
    OUTPUT
        df_means - a sorted data farme with each category name and mean of the column supplied in mean_col_name column 
    '''
    # drop any row with null values in mean_col_name    
    df_notnull = df.dropna(subset=[mean_col_name,col_name], how='any')
    df_final = df_notnull[[mean_col_name,col_name]].reset_index(drop=True)
    
    df_subset = defaultdict(float)
    denoms = dict()
    for val in col_list:
        denoms[val] = 0
        for row_num in range(df_final.shape[0]):
            if val in df_final[col_name][row_num]:
                df_subset[val] += df_final[mean_col_name][row_num]
                denoms[val] += 1
    
    df_subset = pd.DataFrame(pd.Series(df_subset)).reset_index()
    denoms = pd.DataFrame(pd.Series(denoms)).reset_index()  
    df_subset.columns = [mean_col_name, 'col_sum']
    denoms.columns = [mean_col_name, 'col_total']
    
    df_subset.columns = [col_name, 'col_sum']
    denoms.columns = [col_name, 'col_total']
    df_means = pd.merge(df_subset, denoms)
    df_means['mean_col'] = df_means['col_sum']/df_means['col_total']
    
    return df_means.sort_values('mean_col', ascending=False)

####  1. What are the programming languages that highest paid software developers are using ?

Let's get answer to the above question using the function we have just written.

In [14]:
lang_avg_sal = get_mean_by_column_values(df,lang_list,'LanguageWorkedWith','ConvertedComp')
lang_avg_sal

       LanguageWorkedWith       col_sum  col_total       mean_col
24                Clojure  1.729352e+08        863  200388.463499
25                     F#  1.291104e+08        648  199244.413580
14            WebAssembly  1.012965e+08        582  174048.903780
16                     Go  8.446856e+08       5079  166309.421540
22                 Elixir  1.470430e+08        898  163745.023385
23                 Erlang  8.347950e+07        515  162096.112621
11                   Ruby  8.248140e+08       5160  159847.664729
26                  Scala  3.777949e+08       2368  159541.765203
12                   Rust  2.604201e+08       1646  158213.893074
9                       R  1.416310e+09       9131  155110.107874
10  Bash/Shell/PowerShell  3.223947e+09      21832  147670.729892
3                  Python  3.124600e+09      22118  141269.544172
21            Objective-C  3.963357e+08       2838  139653.159619
18               Assembly  3.984721e+08       2888  137975.110803
8                     VBA  3.982920e+08       2923  136261.381800
15              Other(s):  6.779287e+08       4979  136157.596104
13             TypeScript  1.815655e+09      13617  133337.367702
20                  Swift  4.920661e+08       3717  132382.596180
6                      C#  2.375975e+09      18062  131545.501827
4                     C++  1.379874e+09      10688  129104.955090
7                     SQL  4.067060e+09      31663  128448.336607
2              JavaScript  4.975920e+09      39029  127492.880986
5                       C  5.783592e+09      45387  127428.389935
1                    Java  5.668624e+09      44987  126005.817036
0                HTML/CSS  4.378682e+09      35134  124628.038510
19                 Kotlin  4.558532e+08       3689  123570.944429
27                   Dart  1.174391e+08        979  119958.251277
17                    PHP  1.428487e+09      13874  102961.453726

### 2. What are the database environment that highest paid software developers are using ?

We can reuse our function to get this answered.

In [11]:
# Using above functions we can easily get a list of all languages worked by the survey responders.
db_list = create_dict_from_col(df,'DatabaseWorkedWith').keys()
db_avg_sal = get_mean_by_column_values(df,db_list,'DatabaseWorkedWith','ConvertedComp')
db_avg_sal

      DatabaseWorkedWith       col_sum  col_total       mean_col
9               DynamoDB  6.140925e+08       3505  175204.696719
6              Cassandra  2.942433e+08       1801  163377.746252
3              Couchbase  1.614339e+08       1068  151155.299625
7          Elasticsearch  1.200737e+09       8173  146915.063257
13             Other(s):  5.222072e+08       3637  143581.845752
8                  Redis  1.513739e+09      10608  142697.836538
1             PostgreSQL  2.407099e+09      18207  132207.313121
10  Microsoft SQL Server  2.263035e+09      17151  131947.697335
0                 SQLite  1.780116e+09      14760  120604.080759
4                MongoDB  1.529513e+09      12684  120585.998029
2                  MySQL  2.790357e+09      24602  113419.928868
5                 Oracle  8.677365e+08       7724  112342.890471
12               MariaDB  8.286372e+08       7940  104362.364106
11              Firebase  5.969726e+08       5790  103104.078066

### 3. What are the web frameworks that highest paid software developers are using ?

We can reuse our function to get this answered.

In [12]:
web_list = create_dict_from_col(df,'WebFrameWorkedWith').keys()
web_avg_sal = get_mean_by_column_values(df,web_list,'WebFrameWorkedWith','ConvertedComp')
web_avg_sal

    WebFrameWorkedWith       col_sum  col_total       mean_col
6        Ruby on Rails  5.374404e+08       3657  146962.108012
1                Flask  7.232106e+08       4991  144902.935484
4             React.js  1.943715e+09      14111  137744.689816
2              Express  1.103571e+09       8321  132624.849177
9              ASP.NET  1.535225e+09      11710  131103.743467
7            Other(s):  4.916429e+08       3764  130617.145058
8   Angular/Angular.js  1.716019e+09      13830  124079.433406
5               Spring  8.817292e+08       7189  122649.776464
10              Vue.js  7.969622e+08       6696  119020.639188
0               Django  6.035315e+08       5123  117808.218622
3               jQuery  2.317392e+09      19892  116498.674392
12              Drupal  1.546075e+08       1416  109186.053672
11             Laravel  3.593764e+08       4210   85362.571021

### 4. What are the tools/libraries/miscelleneous frameworks that highest paid software developers are using ?

We can reuse our function to get this answered.

In [13]:
tech_list = create_dict_from_col(df,'MiscTechWorkedWith').keys()
tech_avg_sal = get_mean_by_column_values(df,tech_list,'MiscTechWorkedWith','ConvertedComp')
tech_avg_sal

   MiscTechWorkedWith       col_sum  col_total       mean_col
8                Chef  2.016515e+08       1079  186887.438369
13             Puppet  2.046806e+08       1143  179073.158355
15       Apache Spark  3.949947e+08       2238  176494.489723
3              Hadoop  3.076830e+08       1856  165777.458513
7             Ansible  6.432656e+08       4164  154482.607589
4              Pandas  7.201917e+08       4714  152777.191769
11          .NET Core  1.395418e+09       9804  142331.468176
9          TensorFlow  4.980449e+08       3508  141974.027936
14          Other(s):  2.574073e+08       1839  139971.361610
6       Torch/PyTorch  1.519349e+08       1088  139646.021140
1                .NET  2.126664e+09      16060  132419.915940
0             Node.js  2.591606e+09      19573  132407.182547
16      Unreal Engine  1.141413e+08        933  122337.971061
5            Unity 3D  4.043108e+08       3398  118984.938493
12       React Native  4.905284e+08       4123  118973.664322
10            Xamarin  2.921237e+08       2471  118220.825172
18          CryEngine  1.494617e+07        128  116766.921875
17            Flutter  1.212301e+08       1165  104060.169099
2             Cordova  2.390959e+08       2728   87645.114736